In [ ]:
import pandas as pd

In [ ]:
enc_vit=pd.read_csv('/content/ENC_VIT.csv') 
id_csn=pd.read_csv('/content/ID_CSN.csv')
in_pat=pd.read_csv('/content/IN_PAT.csv') 
meds=pd.read_csv('/content/MEDS.csv') 
pat_soc=pd.read_csv('/content/PAT_SOC.csv') 
prb_list=pd.read_csv('/content/PRB_LIST.csv') 
cons_diag=pd.read_csv('/content/CONS_DIAG.csv') 
demo=pd.read_csv('/content/PAT_DEM.csv') 
rest=pd.read_csv('/content/REST.csv')

In [ ]:
rest.columns

Index(['Order ID', 'MRN', 'Department', 'Order Name', 'Frequency',
       'Ordered Route', 'Ordering Provider', 'Order Date', 'Age of Order',
       'Start Time', 'Patient CSN', 'Bed'],
      dtype='object')

# Add Encounter CSN ID to MEDS, DEMO, and CONS_DIAG CSVs

In [ ]:
rest=pd.merge(id_csn,rest, how='left',left_on='PAT_ENC_CSN_ID', right_on='Patient CSN')
rest

,PAT_ID,PAT_ENC_CSN_ID,MRN_x,HOSP_ADMSN_TIME,Confirmed or Possible Delirium? (use criteria document as reference),Comments,Order ID,MRN_y,Department,Order Name,Frequency,Ordered Route,Ordering Provider,Order Date,Age of Order,Start Time,Patient CSN,Bed
0,Z90294,129455730,882,2019-02-25 22:17:28.000,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Z90294,131927594,882,2020-02-04 19:32:12.000,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Z90294,132200757,882,2020-03-16 19:17:13.000,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Z91690,130591564,37098,2019-08-04 19:05:52.000,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Z92265,128817000,46534,2018-12-10 20:28:22.000,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9830,Z1459735,134660461,3003320,2021-03-31 11:19:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9831,Z1461509,134726996,3003346,2021-04-10 13:33:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9832,Z1466582,134945227,3003444,2021-05-12 22:32:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9833,Z1482074,135473217,3003673,2021-07-21 21:45:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9834,Z1492115,135821598,3003842,2021-09-11 07:14:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
prb_list=pd.merge(id_csn,prb_list, how='left',left_on='MRN', right_on='PAT_MRN_ID')
prb_list

,PAT_ID,PAT_ENC_CSN_ID,MRN,HOSP_ADMSN_TIME,Confirmed or Possible Delirium? (use criteria document as reference),Comments,PAT_MRN_ID,DX_NAME,noted_date,resolved_date,problem_cmt,HX_PROBLEM_EPT_CSN
0,Z90294,129455730,882,2019-02-25 22:17:28.000,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Z90294,131927594,882,2020-02-04 19:32:12.000,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Z90294,132200757,882,2020-03-16 19:17:13.000,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Z91690,130591564,37098,2019-08-04 19:05:52.000,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Z92265,128817000,46534,2018-12-10 20:28:22.000,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
8245,Z1459735,134660461,3003320,2021-03-31 11:19:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8246,Z1461509,134726996,3003346,2021-04-10 13:33:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8247,Z1466582,134945227,3003444,2021-05-12 22:32:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8248,Z1482074,135473217,3003673,2021-07-21 21:45:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8249,Z1492115,135821598,3003842,2021-09-11 07:14:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
demo=pd.merge(id_csn,demo, how='left',left_on='MRN', right_on='PAT_MRN_ID')
demo

,PAT_ID_x,PAT_ENC_CSN_ID,MRN,HOSP_ADMSN_TIME,Confirmed or Possible Delirium? (use criteria document as reference),Comments,PAT_ID_y,ADD_LINE_1,NATIONALITY,BIRTH_DATE,NAME,PAT_MRN_ID,DEATH_DATE,SEX_C,NAME2,Case or Control ? (Considered case if that patient had at least 1 encounter that is confirmed/possible delirium)
0,Z90294,129455730,882,2019-02-25 22:17:28.000,no,NaN,Z90294,"BEIRUT, ZAREEF NA SENNO, 4",LEBANON,1946-08-11 00:00:00.000,Married,882,2020-03-30 22:05:00.000,1,Female,control
1,Z90294,131927594,882,2020-02-04 19:32:12.000,no,NaN,Z90294,"BEIRUT, ZAREEF NA SENNO, 4",LEBANON,1946-08-11 00:00:00.000,Married,882,2020-03-30 22:05:00.000,1,Female,control
2,Z90294,132200757,882,2020-03-16 19:17:13.000,no,NaN,Z90294,"BEIRUT, ZAREEF NA SENNO, 4",LEBANON,1946-08-11 00:00:00.000,Married,882,2020-03-30 22:05:00.000,1,Female,control
3,Z91690,130591564,37098,2019-08-04 19:05:52.000,no,NaN,Z91690,"RASHAYA, ,",LEBANON,1936-02-08 00:00:00.000,Married,37098,NaN,2,Male,control
4,Z92265,128817000,46534,2018-12-10 20:28:22.000,no,NaN,Z92265,"BEIRUT, CLEMANSOU ,",LEBANON,1939-08-15 00:00:00.000,Married,46534,NaN,1,Female,control
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8109,Z1459735,134660461,3003320,2021-03-31 11:19:00.000,NaN,NaN,Z1459735,"SIDON, BKOSTA ,",LEBANON,2021-03-31 11:08:05.000,Single,3003320,2021-04-09 04:00:00.000,2,Male,NaN
8110,Z1461509,134726996,3003346,2021-04-10 13:33:00.000,NaN,NaN,Z1461509,"ALEY, DAWHET ARAMOUN ,",LEBANON,2021-04-10 13:29:00.000,Single,3003346,NaN,1,Female,NaN
8111,Z1466582,134945227,3003444,2021-05-12 22:32:00.000,NaN,NaN,Z1466582,"BEIRUT, ZKAK BLAT MAKHFAR KADEEM FAKHREDDINE, 3",LEBANON,2021-05-10 18:42:07.000,Single,3003444,NaN,1,Female,NaN
8112,Z1482074,135473217,3003673,2021-07-21 21:45:00.000,NaN,NaN,Z1482074,"ALEY, CHWEYFAT ,",LEBANON,2021-07-21 21:41:00.000,Single,3003673,NaN,2,Male,NaN
8113,Z1492115,135821598,3003842,2021-09-11 07:14:00.000,NaN,NaN,Z1492115,"ALEY, BAWHET EL HOSS ,",LEBANON,2021-09-11 07:09:00.000,Single,3003842,NaN,2,Male,NaN

In [ ]:
pat_soc=pd.merge(id_csn,pat_soc, how='left',left_on='PAT_ID', right_on='PAT_ID2')
pat_soc

,PAT_ID_x,PAT_ENC_CSN_ID_x,MRN,HOSP_ADMSN_TIME,Confirmed or Possible Delirium? (use criteria document as reference),Comments,PAT_ID_y,PAT_ENC_CSN_ID_y,CONTACT_DATE,PAT_ID2,...,CIGARS_YN,ALCOHOL_USE,ALCOHOL_FREQ,ALCOHOL_DRINKS_PER_DAY,ALCOHOL_TYPE,ALCOHOL_OZ_PER_WK,ALCOHOL_COMMENT,PHYS_ACT_DAYS_PER_WEEK,PHYS_ACT_MIN_PER_SESS,rn
0,Z90294,129455730,882,2019-02-25 22:17:28.000,no,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Z90294,131927594,882,2020-02-04 19:32:12.000,no,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Z90294,132200757,882,2020-03-16 19:17:13.000,no,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Z91690,130591564,37098,2019-08-04 19:05:52.000,no,NaN,Z91690,137503508.0,2022-05-31 00:00:00.000,Z91690,...,N,Yes,NaN,NaN,NaN,NaN,OCCASIONAL,NaN,NaN,1.0
4,Z92265,128817000,46534,2018-12-10 20:28:22.000,no,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10505,Z1459735,134660461,3003320,2021-03-31 11:19:00.000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10506,Z1461509,134726996,3003346,2021-04-10 13:33:00.000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10507,Z1466582,134945227,3003444,2021-05-12 22:32:00.000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10508,Z1482074,135473217,3003673,2021-07-21 21:45:00.000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10509,Z1492115,135821598,3003842,2021-09-11 07:14:00.000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Merge CSVs using PAT_ENC_CSN_ID

In [ ]:
import numpy as np
encounters=meds['PAT_ENC_CSN_ID'].values
pat=meds['PAT_MRN_ID'].values
med=meds['MEDICATION_ID'].values
order=meds['ORDER_MED_ID'].values
meds_unique=np.unique(med)
i=0
countXorder_dict={}
for m in med:
  key=str(pat[i])+str(encounters[i])
  if key not in countXorder_dict:
    meds_dict={}
    for munq in meds_unique:
      if munq==m:
        meds_dict.update({munq:1})
      else:
        meds_dict.update({munq:0})

    countXorder_dict.update({key:meds_dict})
  else:
    meds_dict=countXorder_dict.get(key)
    med_=meds_dict.get(m)
    med_=med_+1
    meds_dict.update({m:med_})
    countXorder_dict.update({key:meds_dict})
  i+=1

new_meds=pd.DataFrame()
new_meds['PAT_ENC_CSN_ID']=encounters
new_meds['PAT_MRN_ID']=pat
med_cols=[]
for m in meds_unique:
  med_cols.append(m)

new_meds.drop_duplicates(inplace=True)

med_cols_vals=[[]]*len(med_cols)

med_x_dict={}
for col in med_cols:
  med_x_dict.update({col:[]})
  
for pat_encounter in countXorder_dict:
  med_dict=countXorder_dict.get(pat_encounter)
  for m in med_dict:
    lst=med_x_dict.get(m)
    lst.append(med_dict.get(m))
    med_x_dict.update({m:lst})
    
for col in med_cols:
  new_meds[col]=med_x_dict.get(col)

In [ ]:
new_meds

,PAT_ENC_CSN_ID,PAT_MRN_ID,325,2401,2405,8428,9637,9639,10608,112703,...,169449,169861,175233,182878,186252,192673,400051,400562,400580,40802017
0,129455730,882,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,131927594,882,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
3,132200757,882,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,130591564,37098,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
5,128817000,46534,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12405,134660461,3003320,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
12406,134726996,3003346,0,0,0,0,0,0,0,0,...,0,0,3,0,0,0,0,0,0,0
12409,134945227,3003444,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
12411,135473217,3003673,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
12412,135821598,3003842,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,0,0

In [ ]:
df=pd.merge(enc_vit,in_pat, how='left',left_on='PAT_ENC_CSN_ID', right_on='PAT_ENC_CSN_ID')

df

,PAT_ID,PAT_ENC_CSN_ID,CONTACT_DATE,BP_SYSTOLIC,BP_DIASTOLIC,TEMPERATURE,PULSE,WEIGHT,HEIGHT,RESPIRATIONS,HOSP_ADMSN_TIME,HOSP_DISCHRG_TIME,BMI,BSA,PAT_MRN_ID,Discharge_Date,Diagnosis_Name,Diagnosis_ICD10,AGE,NAME
0,Z233490,126216514,2018-09-07 00:00:00.000,41.0,24.0,96.60,94.0,2469.15,"5' .236""",18.0,2018-09-07 13:38:19.000,2018-11-19 11:17:00.000,29.90,1.72,NaN,NaN,NaN,NaN,NaN,NaN
1,Z240730,126216517,2018-09-10 00:00:00.000,98.0,65.0,97.70,112.0,2610.25,"5' 4.567""",19.0,2018-09-10 12:49:01.000,2018-12-15 09:02:27.000,27.51,1.84,NaN,NaN,NaN,NaN,NaN,NaN
2,Z416803,126216539,2017-11-30 00:00:00.000,39.0,17.0,98.60,56.0,2515.01,"5' 6.929""",20.0,2017-11-30 08:40:35.000,2020-07-10 15:35:00.000,24.67,1.83,NaN,NaN,NaN,NaN,NaN,NaN
3,Z504926,126216557,2018-08-02 00:00:00.000,123.0,96.0,101.50,73.0,2821.89,"5' 10.079""",18.0,2018-08-02 18:56:08.000,2018-12-03 12:23:00.000,25.25,1.99,NaN,NaN,NaN,NaN,NaN,NaN
4,Z1104717,126216641,2015-08-18 00:00:00.000,0.0,0.0,96.98,0.0,705.47,"3' 3.764""",0.0,2015-08-18 01:48:22.000,2019-03-24 07:59:12.000,18.22,0.69,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8117,Z1515400,136736542,2022-01-26 00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8118,Z1521951,137292354,2022-04-24 00:00:00.000,130.0,72.0,102.00,77.0,2998.26,"5' 2.598""",24.0,2022-04-24 16:21:00.000,2022-05-21 22:09:00.000,33.62,1.94,NaN,NaN,NaN,NaN,NaN,NaN
8119,Z1183580,137358434,2022-05-07 00:00:00.000,150.0,77.0,97.30,70.0,NaN,NaN,18.0,2022-05-07 20:45:00.000,2022-05-15 13:24:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8120,Z103356,137358688,2022-05-08 00:00:00.000,145.0,58.0,97.70,72.0,NaN,"4' 11.843""",18.0,2022-05-08 06:41:00.000,2022-05-12 16:26:00.000,27.27,1.63,NaN,NaN,NaN,NaN,NaN,NaN
8121,Z1328727,137418374,2022-05-19 00:00:00.000,112.0,65.0,98.20,87.0,2716.07,NaN,12.0,NaN,NaN,26.64,1.91,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.drop_duplicates(inplace=True)
df=pd.merge(df,new_meds, how='left',left_on='PAT_ENC_CSN_ID', right_on='PAT_ENC_CSN_ID')

df

,PAT_ID,PAT_ENC_CSN_ID,CONTACT_DATE,BP_SYSTOLIC,BP_DIASTOLIC,TEMPERATURE,PULSE,WEIGHT,HEIGHT,RESPIRATIONS,...,169449,169861,175233,182878,186252,192673,400051,400562,400580,40802017
0,Z233490,126216514,2018-09-07 00:00:00.000,41.0,24.0,96.60,94.0,2469.15,"5' .236""",18.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Z240730,126216517,2018-09-10 00:00:00.000,98.0,65.0,97.70,112.0,2610.25,"5' 4.567""",19.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Z416803,126216539,2017-11-30 00:00:00.000,39.0,17.0,98.60,56.0,2515.01,"5' 6.929""",20.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
3,Z504926,126216557,2018-08-02 00:00:00.000,123.0,96.0,101.50,73.0,2821.89,"5' 10.079""",18.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Z1104717,126216641,2015-08-18 00:00:00.000,0.0,0.0,96.98,0.0,705.47,"3' 3.764""",0.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8114,Z1515400,136736542,2022-01-26 00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8115,Z1521951,137292354,2022-04-24 00:00:00.000,130.0,72.0,102.00,77.0,2998.26,"5' 2.598""",24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8116,Z1183580,137358434,2022-05-07 00:00:00.000,150.0,77.0,97.30,70.0,NaN,NaN,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8117,Z103356,137358688,2022-05-08 00:00:00.000,145.0,58.0,97.70,72.0,NaN,"4' 11.843""",18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8118,Z1328727,137418374,2022-05-19 00:00:00.000,112.0,65.0,98.20,87.0,2716.07,NaN,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.drop_duplicates(inplace=True)
df=pd.merge(df,rest, how='left',left_on='PAT_ENC_CSN_ID', right_on='PAT_ENC_CSN_ID')

df

,PAT_ID_x,PAT_ENC_CSN_ID,CONTACT_DATE,BP_SYSTOLIC,BP_DIASTOLIC,TEMPERATURE,PULSE,WEIGHT,HEIGHT,RESPIRATIONS,...,Department,Order Name,Frequency,Ordered Route,Ordering Provider,Order Date,Age of Order,Start Time,Patient CSN,Bed
0,Z233490,126216514,2018-09-07 00:00:00.000,41.0,24.0,96.6,94.0,2469.15,"5' .236""",18.0,...,MCI INTENSIVE CARE,Restraints non-violent or non-self destructive,Continuous x 24 hours,NaN,Nathalie Ghanem,43409.0,1311d 02h 41m,0.260069,126216514.0,ICU12
1,Z233490,126216514,2018-09-07 00:00:00.000,41.0,24.0,96.6,94.0,2469.15,"5' .236""",18.0,...,MCI INTENSIVE CARE,Restraints non-violent or non-self destructive,Continuous x 24 hours,NaN,Sarah Traboulsy,43409.0,1310d 09h 09m,0.990637,126216514.0,ICU12
2,Z233490,126216514,2018-09-07 00:00:00.000,41.0,24.0,96.6,94.0,2469.15,"5' .236""",18.0,...,MCI INTENSIVE CARE,Restraints non-violent or non-self destructive,Continuous x 24 hours,NaN,Wissam Maroun,43411.0,1309d 06h 34m,0.098634,126216514.0,ICU12
3,Z233490,126216514,2018-09-07 00:00:00.000,41.0,24.0,96.6,94.0,2469.15,"5' .236""",18.0,...,MCI INTENSIVE CARE,Restraints non-violent or non-self destructive,Continuous x 24 hours,NaN,Shaza Almardini,43411.0,1308d 11h 29m,0.893877,126216514.0,ICU12
4,Z233490,126216514,2018-09-07 00:00:00.000,41.0,24.0,96.6,94.0,2469.15,"5' .236""",18.0,...,MCI INTENSIVE CARE,Restraints non-violent or non-self destructive,Continuous x 24 hours,NaN,Sarah Traboulsy,43412.0,1307d 18h 32m,0.599977,126216514.0,ICU12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9835,Z1515400,136736542,2022-01-26 00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9836,Z1521951,137292354,2022-04-24 00:00:00.000,130.0,72.0,102.0,77.0,2998.26,"5' 2.598""",24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9837,Z1183580,137358434,2022-05-07 00:00:00.000,150.0,77.0,97.3,70.0,NaN,NaN,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9838,Z103356,137358688,2022-05-08 00:00:00.000,145.0,58.0,97.7,72.0,NaN,"4' 11.843""",18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9839,Z1328727,137418374,2022-05-19 00:00:00.000,112.0,65.0,98.2,87.0,2716.07,NaN,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.drop_duplicates(inplace=True)
df=pd.merge(df,pat_soc, how='left',left_on='PAT_ENC_CSN_ID', right_on='PAT_ENC_CSN_ID_x')

df

,PAT_ID_x_x,PAT_ENC_CSN_ID,CONTACT_DATE_x,BP_SYSTOLIC,BP_DIASTOLIC,TEMPERATURE,PULSE,WEIGHT,HEIGHT,RESPIRATIONS,...,CIGARS_YN,ALCOHOL_USE,ALCOHOL_FREQ,ALCOHOL_DRINKS_PER_DAY,ALCOHOL_TYPE,ALCOHOL_OZ_PER_WK,ALCOHOL_COMMENT,PHYS_ACT_DAYS_PER_WEEK,PHYS_ACT_MIN_PER_SESS,rn
0,Z233490,126216514,2018-09-07 00:00:00.000,41.0,24.0,96.6,94.0,2469.15,"5' .236""",18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Z233490,126216514,2018-09-07 00:00:00.000,41.0,24.0,96.6,94.0,2469.15,"5' .236""",18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Z233490,126216514,2018-09-07 00:00:00.000,41.0,24.0,96.6,94.0,2469.15,"5' .236""",18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Z233490,126216514,2018-09-07 00:00:00.000,41.0,24.0,96.6,94.0,2469.15,"5' .236""",18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Z233490,126216514,2018-09-07 00:00:00.000,41.0,24.0,96.6,94.0,2469.15,"5' .236""",18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12476,Z1515400,136736542,2022-01-26 00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12477,Z1521951,137292354,2022-04-24 00:00:00.000,130.0,72.0,102.0,77.0,2998.26,"5' 2.598""",24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12478,Z1183580,137358434,2022-05-07 00:00:00.000,150.0,77.0,97.3,70.0,NaN,NaN,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12479,Z103356,137358688,2022-05-08 00:00:00.000,145.0,58.0,97.7,72.0,NaN,"4' 11.843""",18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12480,Z1328727,137418374,2022-05-19 00:00:00.000,112.0,65.0,98.2,87.0,2716.07,NaN,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df=pd.merge(df,cons_diag, how='left',left_on='PAT_ENC_CSN_ID', right_on='PAT_ENC_CSN_ID')

df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'PAT_MRN_ID_x'} in the result is deprecated and will raise a MergeError in a future version.
  """Entry point for launching an IPython kernel.

,PAT_ID_x_x,PAT_ENC_CSN_ID,CONTACT_DATE_x,BP_SYSTOLIC,BP_DIASTOLIC,TEMPERATURE,PULSE,WEIGHT,HEIGHT,RESPIRATIONS,...,ALCOHOL_OZ_PER_WK,ALCOHOL_COMMENT,PHYS_ACT_DAYS_PER_WEEK,PHYS_ACT_MIN_PER_SESS,rn,PAT_MRN_ID_y,ORDER_PROC_ID,DESCRIPTION,ORDER_TIME,ORD_QUEST_RESP
0,Z233490,126216514,2018-09-07 00:00:00.000,41.0,24.0,96.6,94.0,2469.15,"5' .236""",18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Z233490,126216514,2018-09-07 00:00:00.000,41.0,24.0,96.6,94.0,2469.15,"5' .236""",18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Z233490,126216514,2018-09-07 00:00:00.000,41.0,24.0,96.6,94.0,2469.15,"5' .236""",18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Z233490,126216514,2018-09-07 00:00:00.000,41.0,24.0,96.6,94.0,2469.15,"5' .236""",18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Z233490,126216514,2018-09-07 00:00:00.000,41.0,24.0,96.6,94.0,2469.15,"5' .236""",18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12534,Z1515400,136736542,2022-01-26 00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12535,Z1521951,137292354,2022-04-24 00:00:00.000,130.0,72.0,102.0,77.0,2998.26,"5' 2.598""",24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12536,Z1183580,137358434,2022-05-07 00:00:00.000,150.0,77.0,97.3,70.0,NaN,NaN,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12537,Z103356,137358688,2022-05-08 00:00:00.000,145.0,58.0,97.7,72.0,NaN,"4' 11.843""",18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12538,Z1328727,137418374,2022-05-19 00:00:00.000,112.0,65.0,98.2,87.0,2716.07,NaN,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df=pd.merge(df,demo, how='left',left_on='PAT_ENC_CSN_ID', right_on='PAT_ENC_CSN_ID')
df.drop_duplicates(inplace=True)
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'MRN_x', 'HOSP_ADMSN_TIME_x'} in the result is deprecated and will raise a MergeError in a future version.
  """Entry point for launching an IPython kernel.

,PAT_ID_x_x,PAT_ENC_CSN_ID,CONTACT_DATE_x,BP_SYSTOLIC,BP_DIASTOLIC,TEMPERATURE,PULSE,WEIGHT,HEIGHT,RESPIRATIONS,...,PAT_ID_y,ADD_LINE_1,NATIONALITY,BIRTH_DATE,NAME_y,PAT_MRN_ID,DEATH_DATE,SEX_C,NAME2,Case or Control ? (Considered case if that patient had at least 1 encounter that is confirmed/possible delirium)
0,Z233490,126216514,2018-09-07 00:00:00.000,41.0,24.0,96.6,94.0,2469.15,"5' .236""",18.0,...,Z233490,AIN EL REMMANEH BWEIZ W MATAR AMIR HASSOUNA,LEBANON,1930-07-01 00:00:00.000,Married,574804,2018-11-19 09:55:00.000,2,Male,control
1,Z233490,126216514,2018-09-07 00:00:00.000,41.0,24.0,96.6,94.0,2469.15,"5' .236""",18.0,...,Z233490,AIN EL REMMANEH BWEIZ W MATAR AMIR HASSOUNA,LEBANON,1930-07-01 00:00:00.000,Married,574804,2018-11-19 09:55:00.000,2,Male,control
2,Z233490,126216514,2018-09-07 00:00:00.000,41.0,24.0,96.6,94.0,2469.15,"5' .236""",18.0,...,Z233490,AIN EL REMMANEH BWEIZ W MATAR AMIR HASSOUNA,LEBANON,1930-07-01 00:00:00.000,Married,574804,2018-11-19 09:55:00.000,2,Male,control
3,Z233490,126216514,2018-09-07 00:00:00.000,41.0,24.0,96.6,94.0,2469.15,"5' .236""",18.0,...,Z233490,AIN EL REMMANEH BWEIZ W MATAR AMIR HASSOUNA,LEBANON,1930-07-01 00:00:00.000,Married,574804,2018-11-19 09:55:00.000,2,Male,control
4,Z233490,126216514,2018-09-07 00:00:00.000,41.0,24.0,96.6,94.0,2469.15,"5' .236""",18.0,...,Z233490,AIN EL REMMANEH BWEIZ W MATAR AMIR HASSOUNA,LEBANON,1930-07-01 00:00:00.000,Married,574804,2018-11-19 09:55:00.000,2,Male,control
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9876,Z1515400,136736542,2022-01-26 00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Z1515400,"BAALBACK, ,",LEBANON,1966-01-01 00:00:00.000,Married,1937756,NaN,2,Male,NaN
9877,Z1521951,137292354,2022-04-24 00:00:00.000,130.0,72.0,102.0,77.0,2998.26,"5' 2.598""",24.0,...,Z1521951,"BEIRUT, ,",LEBANON,1949-10-01 00:00:00.000,Married,1944201,NaN,1,Female,NaN
9878,Z1183580,137358434,2022-05-07 00:00:00.000,150.0,77.0,97.3,70.0,NaN,NaN,18.0,...,Z1183580,"BEIRUT, ,",LEBANON,1936-01-04 00:00:00.000,Married,1609300,NaN,1,Female,NaN
9879,Z103356,137358688,2022-05-08 00:00:00.000,145.0,58.0,97.7,72.0,NaN,"4' 11.843""",18.0,...,Z103356,MATN-JAL DEEB LEB. UNIV.STREET SLEIMAN BLDG.,LEBANON,1934-05-06 00:00:00.000,Widowed,210043,NaN,1,Female,case
9880,Z1328727,137418374,2022-05-19 00:00:00.000,112.0,65.0,98.2,87.0,2716.07,NaN,12.0,...,Z1328727,"BEIRUT, ASHRAFIEH SOUDIKO ALIEH BLDG., 8",LEBANON,1948-03-25 00:00:00.000,Married,1754843,NaN,1,Female,NaN

In [ ]:
list(df)

['PAT_ID_x_x',
 'PAT_ENC_CSN_ID',
 'CONTACT_DATE_x',
 'BP_SYSTOLIC',
 'BP_DIASTOLIC',
 'TEMPERATURE',
 'PULSE',
 'WEIGHT',
 'HEIGHT',
 'RESPIRATIONS',
 'HOSP_ADMSN_TIME_x',
 'HOSP_DISCHRG_TIME',
 'BMI',
 'BSA',
 'PAT_MRN_ID_x',
 'Discharge_Date',
 'Diagnosis_Name',
 'Diagnosis_ICD10',
 'AGE',
 'NAME_x',
 'PAT_MRN_ID_y',
 325,
 2401,
 2405,
 8428,
 9637,
 9639,
 10608,
 112703,
 169448,
 169449,
 169861,
 175233,
 182878,
 186252,
 192673,
 400051,
 400562,
 400580,
 40802017,
 'PAT_ID_y_x',
 'MRN_x',
 'HOSP_ADMSN_TIME_y',
 'Confirmed or Possible Delirium? (use criteria document as reference)_x',
 'Comments_x',
 'Order ID',
 'MRN_y',
 'Department',
 'Order Name',
 'Frequency',
 'Ordered Route',
 'Ordering Provider',
 'Order Date',
 'Age of Order',
 'Start Time',
 'Patient CSN',
 'Bed',
 'PAT_ID_x_y',
 'PAT_ENC_CSN_ID_x',
 'MRN_x',
 'HOSP_ADMSN_TIME_x',
 'Confirmed or Possible Delirium? (use criteria document as reference)_y',
 'Comments_y',
 'PAT_ID_y_y',
 'PAT_ENC_CSN_ID_y',
 'CONTACT_DATE_y',
 'PAT_ID2',
 'PAT_MRN_ID_x',
 'TOBACCO_TYPE',
 'TOBACCO_COMMENT',
 'TOBACCO_PAK_PER_DY',
 'CIGARETTES_YN',
 'PIPES_YN',
 'CIGARS_YN',
 'ALCOHOL_USE',
 'ALCOHOL_FREQ',
 'ALCOHOL_DRINKS_PER_DAY',
 'ALCOHOL_TYPE',
 'ALCOHOL_OZ_PER_WK',
 'ALCOHOL_COMMENT',
 'PHYS_ACT_DAYS_PER_WEEK',
 'PHYS_ACT_MIN_PER_SESS',
 'rn',
 'PAT_MRN_ID_y',
 'ORDER_PROC_ID',
 'DESCRIPTION',
 'ORDER_TIME',
 'ORD_QUEST_RESP',
 'PAT_ID_x',
 'MRN_y',
 'HOSP_ADMSN_TIME_y',
 'Confirmed or Possible Delirium? (use criteria document as reference)',
 'Comments',
 'PAT_ID_y',
 'ADD_LINE_1',
 'NATIONALITY',
 'BIRTH_DATE',
 'NAME_y',
 'PAT_MRN_ID',
 'DEATH_DATE',
 'SEX_C',
 'NAME2',
 'Case or Control ? (Considered case if that patient had at least 1 encounter that is confirmed/possible delirium)']

In [ ]:
cols=[
'PAT_ID_x_x',
 'PAT_ENC_CSN_ID',
 'BP_SYSTOLIC',
 'BP_DIASTOLIC',
 'TEMPERATURE',
 'PULSE',
 'WEIGHT',
 'HEIGHT',
 'RESPIRATIONS',
 'HOSP_ADMSN_TIME_x',
 'HOSP_DISCHRG_TIME',
 'BMI',
 'BSA',
 325,
 2401,
 2405,
 8428,
 9637,
 9639,
 10608,
 112703,
 169448,
 169449,
 169861,
 175233,
 182878,
 186252,
 192673,
 400051,
 400562,
 400580,
 40802017,
 'AGE',
 'Department',
 'Order Name',
 'Frequency',
 'Age of Order',
 'Start Time',
 'TOBACCO_TYPE',
 'TOBACCO_COMMENT',
 'TOBACCO_PAK_PER_DY',
 'CIGARETTES_YN',
 'PIPES_YN',
 'CIGARS_YN',
 'ALCOHOL_USE',
 'ALCOHOL_FREQ',
 'ALCOHOL_DRINKS_PER_DAY',
 'ALCOHOL_TYPE',
 'ALCOHOL_OZ_PER_WK',
 'ALCOHOL_COMMENT',
 'PHYS_ACT_DAYS_PER_WEEK',
 'PHYS_ACT_MIN_PER_SESS',
 'DESCRIPTION',
 'ORDER_TIME',
 'ORD_QUEST_RESP',
 'Confirmed or Possible Delirium? (use criteria document as reference)',
 'ADD_LINE_1',
 'NATIONALITY',
 'BIRTH_DATE',
 'SEX_C']

In [ ]:
cols_to_drop=[]
for col in list(df):
  if col not in cols:
    df.drop(col,inplace=True,axis=1)

In [ ]:
df.to_csv('delirium_aubmc_all.csv')

In [ ]:
df.drop_duplicates(inplace=True)

# Data Preprocessing

In [ ]:
df.columns

Index([                                                          'PAT_ID_x_x',
                                                             'PAT_ENC_CSN_ID',
                                                                'BP_SYSTOLIC',
                                                               'BP_DIASTOLIC',
                                                                'TEMPERATURE',
                                                                      'PULSE',
                                                                     'WEIGHT',
                                                                     'HEIGHT',
                                                               'RESPIRATIONS',
                                                          'HOSP_ADMSN_TIME_x',
                                                          'HOSP_DISCHRG_TIME',
                                                                        'BMI',
                                                                        'BSA',
                                                               'PAT_MRN_ID_x',
                                                                        'AGE',
                                                               'PAT_MRN_ID_y',
                                                                          325,
                                                                         2401,
                                                                         2405,
                                                                         8428,
                                                                         9637,
                                                                         9639,
                                                                        10608,
                                                                       112703,
                                                                       169448,
                                                                       169449,
                                                                       169861,
                                                                       175233,
                                                                       182878,
                                                                       186252,
                                                                       192673,
                                                                       400051,
                                                                       400562,
                                                                       400580,
                                                                     40802017,
                                                                      'MRN_x',
                                                          'HOSP_ADMSN_TIME_y',
                                                                      'MRN_y',
                                                                 'Department',
                                                                 'Order Name',
                                                                  'Frequency',
                                                               'Age of Order',
                                                                 'Start Time',
                                                                      'MRN_x',
                                                          'HOSP_ADMSN_TIME_x',
                                                               'PAT_MRN_ID_x',
                                                               'TOBACCO_TYPE',
                                                            'TOBACCO_COMMENT',
                                                         'TOBACCO_PAK_PER_DY',
                                                              'CIGARETTES_YN',
                                                                   'PIPES_YN',
                                                                  'CIGARS_YN',
                                                                'ALCOHOL_USE',
                                                               'ALCOHOL_FREQ',
                                                     'ALCOHOL_DRINKS_PER_DAY',
                                                               'ALCOHOL_TYPE',
                                                          'ALCOHOL_OZ_PER_WK',
                                                            'ALCOHOL_COMMENT',
                                                     'PHYS_ACT_DAYS_PER_WEEK',
                                                      'PHYS_ACT_MIN_PER_SESS',
                                                               'PAT_MRN_ID_y',
                                                                'DESCRIPTION',
                                                                 'ORDER_TIME',
                                                             'ORD_QUEST_RESP',
                                                                      'MRN_y',
                                                          'HOSP_ADMSN_TIME_y',
       'Confirmed or Possible Delirium? (use criteria document as reference)',
                                                                 'ADD_LINE_1',
                                                                'NATIONALITY',
                                                                 'BIRTH_DATE',
                                                                      'SEX_C'],
      dtype='object')

In [ ]:
df

,PAT_ID_x_x,PAT_ENC_CSN_ID,BP_SYSTOLIC,BP_DIASTOLIC,TEMPERATURE,PULSE,WEIGHT,HEIGHT,RESPIRATIONS,HOSP_ADMSN_TIME_x,...,DESCRIPTION,ORDER_TIME,ORD_QUEST_RESP,MRN_y,HOSP_ADMSN_TIME_y,Confirmed or Possible Delirium? (use criteria document as reference),ADD_LINE_1,NATIONALITY,BIRTH_DATE,SEX_C
0,Z233490,126216514,41.0,24.0,96.6,94.0,2469.15,"5' .236""",18.0,2018-09-07 13:38:19.000,...,NaN,NaN,NaN,574804,2018-09-07 13:38:19.000,no,AIN EL REMMANEH BWEIZ W MATAR AMIR HASSOUNA,LEBANON,1930-07-01 00:00:00.000,2
1,Z233490,126216514,41.0,24.0,96.6,94.0,2469.15,"5' .236""",18.0,2018-09-07 13:38:19.000,...,NaN,NaN,NaN,574804,2018-09-07 13:38:19.000,no,AIN EL REMMANEH BWEIZ W MATAR AMIR HASSOUNA,LEBANON,1930-07-01 00:00:00.000,2
2,Z233490,126216514,41.0,24.0,96.6,94.0,2469.15,"5' .236""",18.0,2018-09-07 13:38:19.000,...,NaN,NaN,NaN,574804,2018-09-07 13:38:19.000,no,AIN EL REMMANEH BWEIZ W MATAR AMIR HASSOUNA,LEBANON,1930-07-01 00:00:00.000,2
3,Z233490,126216514,41.0,24.0,96.6,94.0,2469.15,"5' .236""",18.0,2018-09-07 13:38:19.000,...,NaN,NaN,NaN,574804,2018-09-07 13:38:19.000,no,AIN EL REMMANEH BWEIZ W MATAR AMIR HASSOUNA,LEBANON,1930-07-01 00:00:00.000,2
4,Z233490,126216514,41.0,24.0,96.6,94.0,2469.15,"5' .236""",18.0,2018-09-07 13:38:19.000,...,NaN,NaN,NaN,574804,2018-09-07 13:38:19.000,no,AIN EL REMMANEH BWEIZ W MATAR AMIR HASSOUNA,LEBANON,1930-07-01 00:00:00.000,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9876,Z1515400,136736542,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1937756,NaN,NaN,"BAALBACK, ,",LEBANON,1966-01-01 00:00:00.000,2
9877,Z1521951,137292354,130.0,72.0,102.0,77.0,2998.26,"5' 2.598""",24.0,2022-04-24 16:21:00.000,...,NaN,NaN,NaN,1944201,2022-04-24 16:21:00.000,NaN,"BEIRUT, ,",LEBANON,1949-10-01 00:00:00.000,1
9878,Z1183580,137358434,150.0,77.0,97.3,70.0,NaN,NaN,18.0,2022-05-07 20:45:00.000,...,NaN,NaN,NaN,1609300,2022-05-07 20:45:00.000,NaN,"BEIRUT, ,",LEBANON,1936-01-04 00:00:00.000,1
9879,Z103356,137358688,145.0,58.0,97.7,72.0,NaN,"4' 11.843""",18.0,2022-05-08 06:41:00.000,...,NaN,NaN,NaN,210043,2022-05-08 06:41:00.000,confirmed,MATN-JAL DEEB LEB. UNIV.STREET SLEIMAN BLDG.,LEBANON,1934-05-06 00:00:00.000,1
9880,Z1328727,137418374,112.0,65.0,98.2,87.0,2716.07,NaN,12.0,NaN,...,NaN,NaN,NaN,1754843,NaN,NaN,"BEIRUT, ASHRAFIEH SOUDIKO ALIEH BLDG., 8",LEBANON,1948-03-25 00:00:00.000,1

In [ ]:
drs_comments=df['ORD_QUEST_RESP'].values
hist_of_agitation=[]
use_of_restraints=[]
hist_of_parkinson=[]
hist_of_alzheimer_dementia=[]
history_of_depression=[]
history_of_OCD=[]
history_of_anxiety=[]
history_of_bipolar=[]
history_of_drug_abuse=[]
antipsychotics_use=[]
on_lithium=[]
history_of_malignancy =[]
dict_vars={
    'agitation':hist_of_agitation,
    'parkinson':hist_of_parkinson,
    'alzeihmer':hist_of_alzheimer_dementia,
    'depression':history_of_depression,
    'ocd':history_of_OCD,
    'anxiety':history_of_anxiety,
    'bipolar':history_of_bipolar,
    'abuse':history_of_drug_abuse,
    'antipsychotics':antipsychotics_use,
    'lithium':on_lithium,
    'cancer':history_of_malignancy
}

dementia=['alzeihmer','alzheimer']

In [ ]:
rest=df['Order Name'].values

for i in rest:
  if type(i)!=float:
    use_of_restraints.append(1)
  else:
    use_of_restraints.append(0)

In [ ]:
rest=df['Order Name'].values
violence=[]
for i in rest:
  if i!='Restraints non-violent or non-self destructive' and i!='Release restraint' and type(i)!=float:
    violence.append(1)
  else:
    violence.append(0)

In [ ]:
df['Rest_due_to_violence']=violence
df['Use_of_rest']=use_of_restraints

In [ ]:
df.to_csv('delirium_aubmc_features_engineered.csv')

In [ ]:
import re

def process_sentence(sentence):
    """
    Cleans a given raw sentence

    Input:
        sentence: a raw sentence

    Returns:
        Returns the cleaned version of the sentence
    """
    # remove the character ".", except from floating numbers
    periodStrip  = re.compile("(?!<=\d)(\.)(?!\d)")
    # remove any "," between digits, eg: 5,6
    commaStrip   = re.compile("(\d)(\,)(\d)")
    # list of punctuations to remove
    punct        = [';', r"/", '[', ']', '"', '{', '}',
                    '(', ')', '=', '+', '\\', '_', '-',
                    '*', ':', '^', '%', '$', '#', '&',"'",
                    '>', '<', '@', '`', ',', '?', '!']
    # replace new line with a white space
    inText = sentence.replace('\n', ' ')
    # replace multiple white space with single white space
    inText = inText.replace('\t', ' ')
    inText = inText.strip()
    outText = inText
    for p in punct:
        if (p + ' ' in inText or ' ' + p in inText) or \
           (re.search(commaStrip, inText) != None):
            outText = outText.replace(p, '')
        else:
            outText = outText.replace(p, ' ')
    outText = periodStrip.sub("", outText, re.UNICODE)
    outText = outText.lower().split()
    return outText

In [ ]:
for comment in drs_comments:
  if type(comment)!=float:
    words=process_sentence(comment)
    for key in dict_vars:
      if key in words:
        lst=dict_vars.get(key)
        lst.append(1)
        dict_vars.update({key:lst})
      else:
        lst=dict_vars.get(key)
        lst.append(0)
        dict_vars.update({key:lst})
  else:
    for key in dict_vars:
      lst=dict_vars.get(key)
      lst.append(0)
      dict_vars.update({key:lst})

In [ ]:
len(dict_vars.get('parkinson'))

9876

In [ ]:
for key in dict_vars:
  lst=dict_vars.get(key)
  df[key]=lst

In [ ]:
df

,PAT_ID_x_x,PAT_ENC_CSN_ID,BP_SYSTOLIC,BP_DIASTOLIC,TEMPERATURE,PULSE,WEIGHT,HEIGHT,RESPIRATIONS,HOSP_ADMSN_TIME_x,...,parkinson,alzeihmer,depression,ocd,anxiety,bipolar,abuse,antipsychotics,lithium,cancer
0,Z233490,126216514,41.0,24.0,96.6,94.0,2469.15,"5' .236""",18.0,2018-09-07 13:38:19.000,...,0,0,0,0,0,0,0,0,0,0
1,Z233490,126216514,41.0,24.0,96.6,94.0,2469.15,"5' .236""",18.0,2018-09-07 13:38:19.000,...,0,0,0,0,0,0,0,0,0,0
2,Z233490,126216514,41.0,24.0,96.6,94.0,2469.15,"5' .236""",18.0,2018-09-07 13:38:19.000,...,0,0,0,0,0,0,0,0,0,0
3,Z233490,126216514,41.0,24.0,96.6,94.0,2469.15,"5' .236""",18.0,2018-09-07 13:38:19.000,...,0,0,0,0,0,0,0,0,0,0
4,Z233490,126216514,41.0,24.0,96.6,94.0,2469.15,"5' .236""",18.0,2018-09-07 13:38:19.000,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9876,Z1515400,136736542,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
9877,Z1521951,137292354,130.0,72.0,102.0,77.0,2998.26,"5' 2.598""",24.0,2022-04-24 16:21:00.000,...,0,0,0,0,0,0,0,0,0,0
9878,Z1183580,137358434,150.0,77.0,97.3,70.0,NaN,NaN,18.0,2022-05-07 20:45:00.000,...,0,0,0,0,0,0,0,0,0,0
9879,Z103356,137358688,145.0,58.0,97.7,72.0,NaN,"4' 11.843""",18.0,2022-05-08 06:41:00.000,...,0,0,0,0,0,0,0,0,0,0
9880,Z1328727,137418374,112.0,65.0,98.2,87.0,2716.07,NaN,12.0,NaN,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
heights=df['HEIGHT'].values

In [ ]:
def convert_feet_to_m(x):
  sep=process_sentence(x)
  feet=int(sep[0])
  inches=float(sep[1])
  tot_inches = feet*12 + inches
  meters = tot_inches * 0.0254
  return meters

In [ ]:
heights_in_m=[]
for height in heights:
  if type(height)==float:
    heights_in_m.append(height)
  else:
    heights_in_m.append(convert_feet_to_m(height))

In [ ]:
df['HEIGHT']=heights_in_m

In [ ]:
df = df[df['Confirmed or Possible Delirium? (use criteria document as reference)'].notna()]

In [ ]:
df = df[df['Confirmed or Possible Delirium? (use criteria document as reference)']!='icu delirium']

In [ ]:
df.columns

Index([                                                          'PAT_ID_x_x',
                                                             'PAT_ENC_CSN_ID',
                                                                'BP_SYSTOLIC',
                                                               'BP_DIASTOLIC',
                                                                'TEMPERATURE',
                                                                      'PULSE',
                                                                     'WEIGHT',
                                                                     'HEIGHT',
                                                               'RESPIRATIONS',
                                                          'HOSP_ADMSN_TIME_x',
                                                          'HOSP_DISCHRG_TIME',
                                                                        'BMI',
                                                                        'BSA',
                                                               'PAT_MRN_ID_x',
                                                                        'AGE',
                                                               'PAT_MRN_ID_y',
                                                                          325,
                                                                         2401,
                                                                         2405,
                                                                         8428,
                                                                         9637,
                                                                         9639,
                                                                        10608,
                                                                       112703,
                                                                       169448,
                                                                       169449,
                                                                       169861,
                                                                       175233,
                                                                       182878,
                                                                       186252,
                                                                       192673,
                                                                       400051,
                                                                       400562,
                                                                       400580,
                                                                     40802017,
                                                                      'MRN_x',
                                                          'HOSP_ADMSN_TIME_y',
                                                                      'MRN_y',
                                                                 'Department',
                                                                 'Order Name',
                                                                  'Frequency',
                                                               'Age of Order',
                                                                 'Start Time',
                                                                      'MRN_x',
                                                          'HOSP_ADMSN_TIME_x',
                                                               'PAT_MRN_ID_x',
                                                               'TOBACCO_TYPE',
                                                            'TOBACCO_COMMENT',
                                                         'TOBACCO_PAK_PER_DY',
                                                              'CIGARETTES_YN',
                                                                   'PIPES_YN',
                                                                  'CIGARS_YN',
                                                                'ALCOHOL_USE',
                                                               'ALCOHOL_FREQ',
                                                     'ALCOHOL_DRINKS_PER_DAY',
                                                               'ALCOHOL_TYPE',
                                                          'ALCOHOL_OZ_PER_WK',
                                                            'ALCOHOL_COMMENT',
                                                     'PHYS_ACT_DAYS_PER_WEEK',
                                                      'PHYS_ACT_MIN_PER_SESS',
                                                               'PAT_MRN_ID_y',
                                                                'DESCRIPTION',
                                                                 'ORDER_TIME',
                                                             'ORD_QUEST_RESP',
                                                                      'MRN_y',
                                                          'HOSP_ADMSN_TIME_y',
       'Confirmed or Possible Delirium? (use criteria document as reference)',
                                                                 'ADD_LINE_1',
                                                                'NATIONALITY',
                                                                 'BIRTH_DATE',
                                                                      'SEX_C',
                                                       'Rest_due_to_violence',
                                                                'Use_of_rest',
                                                                  'agitation',
                                                                  'parkinson',
                                                                  'alzeihmer',
                                                                 'depression',
                                                                        'ocd',
                                                                    'anxiety',
                                                                    'bipolar',
                                                                      'abuse',
                                                             'antipsychotics',
                                                                    'lithium',
                                                                     'cancer'],
      dtype='object')

In [ ]:
weights_oz=df['WEIGHT']
weights_kg=0.02835*weights_oz
df['WEIGHT']=weights_kg

In [ ]:
to_drop=['PAT_MRN_ID_x','AGE','PAT_MRN_ID_y','MRN_x','HOSP_ADMSN_TIME_y','MRN_y','Age of Order','Start Time','MRN_x','PAT_MRN_ID_x','PAT_MRN_ID_y','ORDER_TIME','ORD_QUEST_RESP','MRN_y','HOSP_ADMSN_TIME_y']

In [ ]:
df.drop(to_drop,inplace=True,axis=1)

In [ ]:
df.columns

Index([                                                          'PAT_ID_x_x',
                                                             'PAT_ENC_CSN_ID',
                                                                'BP_SYSTOLIC',
                                                               'BP_DIASTOLIC',
                                                                'TEMPERATURE',
                                                                      'PULSE',
                                                                     'WEIGHT',
                                                                     'HEIGHT',
                                                               'RESPIRATIONS',
                                                          'HOSP_ADMSN_TIME_x',
                                                          'HOSP_DISCHRG_TIME',
                                                                        'BMI',
                                                                        'BSA',
                                                                          325,
                                                                         2401,
                                                                         2405,
                                                                         8428,
                                                                         9637,
                                                                         9639,
                                                                        10608,
                                                                       112703,
                                                                       169448,
                                                                       169449,
                                                                       169861,
                                                                       175233,
                                                                       182878,
                                                                       186252,
                                                                       192673,
                                                                       400051,
                                                                       400562,
                                                                       400580,
                                                                     40802017,
                                                                 'Department',
                                                                 'Order Name',
                                                                  'Frequency',
                                                          'HOSP_ADMSN_TIME_x',
                                                               'TOBACCO_TYPE',
                                                            'TOBACCO_COMMENT',
                                                         'TOBACCO_PAK_PER_DY',
                                                              'CIGARETTES_YN',
                                                                   'PIPES_YN',
                                                                  'CIGARS_YN',
                                                                'ALCOHOL_USE',
                                                               'ALCOHOL_FREQ',
                                                     'ALCOHOL_DRINKS_PER_DAY',
                                                               'ALCOHOL_TYPE',
                                                          'ALCOHOL_OZ_PER_WK',
                                                            'ALCOHOL_COMMENT',
                                                     'PHYS_ACT_DAYS_PER_WEEK',
                                                      'PHYS_ACT_MIN_PER_SESS',
                                                                'DESCRIPTION',
       'Confirmed or Possible Delirium? (use criteria document as reference)',
                                                                 'ADD_LINE_1',
                                                                'NATIONALITY',
                                                                 'BIRTH_DATE',
                                                                      'SEX_C',
                                                       'Rest_due_to_violence',
                                                                'Use_of_rest',
                                                                  'agitation',
                                                                  'parkinson',
                                                                  'alzeihmer',
                                                                 'depression',
                                                                        'ocd',
                                                                    'anxiety',
                                                                    'bipolar',
                                                                      'abuse',
                                                             'antipsychotics',
                                                                    'lithium',
                                                                     'cancer'],
      dtype='object')

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.to_csv('engineered_aubmc.csv')

In [ ]:
import pandas as pd
df=pd.read_csv('/content/engineered_aubmc.csv')

In [ ]:
cols_to_drop=['PAT_MRN_ID_y','Age of Order', 'Start Time', 'MRN_x.1', 'HOSP_ADMSN_TIME_x',
       'PAT_MRN_ID_x.1','PAT_MRN_ID_y.1','ORDER_TIME',
       'ORD_QUEST_RESP', 'MRN_y.1', 'HOSP_ADMSN_TIME_y.1','PAT_MRN_ID_x']

In [ ]:
cols_to_drop=['PAT_MRN_ID_x','Start Time', 'PAT_MRN_ID_y', 'MRN_x','Age of Order','MRN_x','PAT_MRN_ID_y','ORDER_TIME']

In [ ]:
df.drop(cols_to_drop,inplace=True,axis=1)

In [ ]:
df.columns

Index(['PAT_ID_x_x', 'PAT_ENC_CSN_ID', 'BP_SYSTOLIC', 'BP_DIASTOLIC',
       'TEMPERATURE', 'PULSE', 'WEIGHT', 'HEIGHT', 'RESPIRATIONS',
       'HOSP_ADMSN_TIME', 'HOSP_DISCHRG_TIME', 'BMI', 'BSA', 'AGE', '325',
       '2401', '2405', '8428', '9637', '9639', '10608', '112703', '169448',
       '169449', '169861', '175233', '182878', '186252', '192673', '400051',
       '400562', '400580', '40802017', 'MRN_x', 'HOSP_ADMSN_TIME_y', 'MRN_y',
       'Department', 'Order Name', 'Frequency', 'TOBACCO_TYPE',
       'TOBACCO_COMMENT', 'TOBACCO_PAK_PER_DY', 'CIGARETTES_YN', 'PIPES_YN',
       'CIGARS_YN', 'ALCOHOL_USE', 'ALCOHOL_FREQ', 'ALCOHOL_DRINKS_PER_DAY',
       'ALCOHOL_TYPE', 'ALCOHOL_OZ_PER_WK', 'ALCOHOL_COMMENT',
       'PHYS_ACT_DAYS_PER_WEEK', 'PHYS_ACT_MIN_PER_SESS', 'DESCRIPTION',
       'Confirmed or Possible Delirium? (use criteria document as reference)',
       'ADD_LINE_1', 'NATIONALITY', 'BIRTH_DATE', 'SEX_C',
       'Rest_due_to_violence', 'Use_of_rest', 'agitation', 'parkinson',
       'alzeihmer', 'depression', 'ocd', 'anxiety', 'bipolar', 'abuse',
       'antipsychotics', 'lithium', 'cancer'],
      dtype='object')

In [ ]:
df

,PAT_ID_x_x,PAT_ENC_CSN_ID,BP_SYSTOLIC,BP_DIASTOLIC,TEMPERATURE,PULSE,WEIGHT,HEIGHT,RESPIRATIONS,HOSP_ADMSN_TIME,...,parkinson,alzeihmer,depression,ocd,anxiety,bipolar,abuse,antipsychotics,lithium,cancer
0,Z233490,126216514,41.0,24.0,96.6,94.0,70.000403,1.529994,18.0,9/7/2018,...,0,0,0,0,0,0,0,0,0,0
1,Z233490,126216514,41.0,24.0,96.6,94.0,70.000403,1.529994,18.0,9/7/2018,...,0,0,0,0,0,0,0,0,0,0
2,Z233490,126216514,41.0,24.0,96.6,94.0,70.000403,1.529994,18.0,9/7/2018,...,0,0,0,0,0,0,0,0,0,0
3,Z233490,126216514,41.0,24.0,96.6,94.0,70.000403,1.529994,18.0,9/7/2018,...,0,0,0,0,0,0,0,0,0,0
4,Z233490,126216514,41.0,24.0,96.6,94.0,70.000403,1.529994,18.0,9/7/2018,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1922,Z156532,135918356,151.0,77.0,97.9,83.0,NaN,1.359992,16.0,9/25/2021,...,0,0,0,0,0,0,0,0,0,0
1923,Z438493,135918670,118.0,67.0,98.4,75.0,85.000671,1.759991,16.0,9/26/2021,...,0,0,0,0,0,0,0,0,0,0
1924,Z139891,135919320,137.0,55.0,97.7,80.0,83.800616,1.520012,16.0,9/27/2021,...,0,0,0,0,0,0,0,0,0,0
1925,Z304128,136257771,152.0,76.0,97.9,113.0,56.700283,NaN,18.0,11/14/2021,...,0,0,0,0,0,0,0,0,0,0
1926,Z103356,137358688,145.0,58.0,97.7,72.0,NaN,1.520012,18.0,5/8/2022,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df.drop_duplicates()

,PAT_ID_x_x,PAT_ENC_CSN_ID,BP_SYSTOLIC,BP_DIASTOLIC,TEMPERATURE,PULSE,WEIGHT,HEIGHT,RESPIRATIONS,HOSP_ADMSN_TIME,...,parkinson,alzeihmer,depression,ocd,anxiety,bipolar,abuse,antipsychotics,lithium,cancer
0,Z233490,126216514,41.0,24.0,96.6,94.0,70.000403,1.529994,18.0,9/7/2018,...,0,0,0,0,0,0,0,0,0,0
5,Z240730,126216517,98.0,65.0,97.7,112.0,74.000587,1.640002,19.0,9/10/2018,...,0,0,0,0,0,0,0,0,0,0
25,Z416803,126216539,39.0,17.0,98.6,56.0,71.300534,1.699997,20.0,11/30/2017,...,0,0,0,0,0,0,0,0,0,0
26,Z504926,126216557,123.0,96.0,101.5,73.0,80.000581,1.780007,18.0,8/2/2018,...,0,0,0,0,0,0,0,0,0,0
27,Z307823,126661312,136.0,33.0,98.2,56.0,68.000310,1.699997,16.0,10/4/2018,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1922,Z156532,135918356,151.0,77.0,97.9,83.0,NaN,1.359992,16.0,9/25/2021,...,0,0,0,0,0,0,0,0,0,0
1923,Z438493,135918670,118.0,67.0,98.4,75.0,85.000671,1.759991,16.0,9/26/2021,...,0,0,0,0,0,0,0,0,0,0
1924,Z139891,135919320,137.0,55.0,97.7,80.0,83.800616,1.520012,16.0,9/27/2021,...,0,0,0,0,0,0,0,0,0,0
1925,Z304128,136257771,152.0,76.0,97.9,113.0,56.700283,NaN,18.0,11/14/2021,...,0,0,0,0,0,0,0,0,0,0
1926,Z103356,137358688,145.0,58.0,97.7,72.0,NaN,1.520012,18.0,5/8/2022,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.to_csv('extracted_aubmc.csv')

In [ ]:
df.columns

Index([                                                          'PAT_ID_x_x',
                                                             'PAT_ENC_CSN_ID',
                                                                'BP_SYSTOLIC',
                                                               'BP_DIASTOLIC',
                                                                'TEMPERATURE',
                                                                      'PULSE',
                                                                     'WEIGHT',
                                                                     'HEIGHT',
                                                               'RESPIRATIONS',
                                                          'HOSP_ADMSN_TIME_x',
                                                          'HOSP_DISCHRG_TIME',
                                                                        'BMI',
                                                                        'BSA',
                                                                        'AGE',
                                                                          325,
                                                                         2401,
                                                                         2405,
                                                                         8428,
                                                                         9637,
                                                                         9639,
                                                                        10608,
                                                                       112703,
                                                                       169448,
                                                                       169449,
                                                                       169861,
                                                                       175233,
                                                                       182878,
                                                                       186252,
                                                                       192673,
                                                                       400051,
                                                                       400562,
                                                                       400580,
                                                                     40802017,
                                                          'HOSP_ADMSN_TIME_y',
                                                                      'MRN_y',
                                                                 'Department',
                                                                 'Order Name',
                                                                  'Frequency',
                                                          'HOSP_ADMSN_TIME_x',
                                                               'TOBACCO_TYPE',
                                                            'TOBACCO_COMMENT',
                                                         'TOBACCO_PAK_PER_DY',
                                                              'CIGARETTES_YN',
                                                                   'PIPES_YN',
                                                                  'CIGARS_YN',
                                                                'ALCOHOL_USE',
                                                               'ALCOHOL_FREQ',
                                                     'ALCOHOL_DRINKS_PER_DAY',
                                                               'ALCOHOL_TYPE',
                                                          'ALCOHOL_OZ_PER_WK',
                                                            'ALCOHOL_COMMENT',
                                                     'PHYS_ACT_DAYS_PER_WEEK',
                                                      'PHYS_ACT_MIN_PER_SESS',
                                                                'DESCRIPTION',
                                                             'ORD_QUEST_RESP',
                                                                      'MRN_y',
                                                          'HOSP_ADMSN_TIME_y',
       'Confirmed or Possible Delirium? (use criteria document as reference)',
                                                                 'ADD_LINE_1',
                                                                'NATIONALITY',
                                                                 'BIRTH_DATE',
                                                                      'SEX_C',
                                                       'Rest_due_to_violence',
                                                                'Use_of_rest',
                                                                  'agitation',
                                                                  'parkinson',
                                                                  'alzeihmer',
                                                                 'depression',
                                                                        'ocd',
                                                                    'anxiety',
                                                                    'bipolar',
                                                                      'abuse',
                                                             'antipsychotics',
                                                                    'lithium',
                                                                     'cancer'],
      dtype='object')

In [ ]:
df.to_csv('non_icu_delirium_aubmc.csv')

In [ ]:
df=pd.read_csv('/content/non_icu_delirium_aubmc.csv')
df.columns

Index(['BP_SYSTOLIC', 'BP_DIASTOLIC', 'TEMPERATURE', 'PULSE', 'WEIGHT',
       'HEIGHT', 'RESPIRATIONS', 'HOSP_ADMSN_TIME', 'HOSP_DISCHRG_TIME', 'BMI',
       'BSA', 'AGE', '325', '2401', '2405', '8428', '9637', '9639', '10608',
       '112703', '169448', '169449', '169861', '175233', '182878', '186252',
       '192673', '400051', '400562', '400580', '40802017', 'Department',
       'Order Name', 'Frequency', 'TOBACCO_TYPE', 'TOBACCO_COMMENT',
       'TOBACCO_PAK_PER_DY', 'CIGARETTES_YN', 'PIPES_YN', 'CIGARS_YN',
       'ALCOHOL_USE', 'ALCOHOL_FREQ', 'ALCOHOL_DRINKS_PER_DAY', 'ALCOHOL_TYPE',
       'ALCOHOL_OZ_PER_WK', 'ALCOHOL_COMMENT', 'PHYS_ACT_DAYS_PER_WEEK',
       'PHYS_ACT_MIN_PER_SESS', 'DESCRIPTION', 'ORD_QUEST_RESP',
       'Confirmed or Possible Delirium? (use criteria document as reference)',
       'ADD_LINE_1', 'NATIONALITY', 'BIRTH_DATE', 'SEX_C',
       'Rest_due_to_violence', 'Use_of_rest', 'agitation', 'parkinson',
       'alzeihmer', 'depression', 'ocd', 'anxiety', 'bipolar', 'abuse',
       'antipsychotics', 'lithium', 'cancer'],
      dtype='object')

In [ ]:
df.rename({'Confirmed or Possible Delirium? (use criteria document as reference)':'Delirium'},axis=1,inplace=True)

In [ ]:
df.columns

Index(['PAT_ID_x_x', 'PAT_ENC_CSN_ID', 'BP_SYSTOLIC', 'BP_DIASTOLIC',
       'TEMPERATURE', 'PULSE', 'WEIGHT', 'HEIGHT', 'RESPIRATIONS',
       'HOSP_ADMSN_TIME', 'HOSP_DISCHRG_TIME', 'BMI', 'BSA', 'AGE', '325',
       '2401', '2405', '8428', '9637', '9639', '10608', '112703', '169448',
       '169449', '169861', '175233', '182878', '186252', '192673', '400051',
       '400562', '400580', '40802017', 'MRN_x', 'HOSP_ADMSN_TIME_y', 'MRN_y',
       'Department', 'Order Name', 'Frequency', 'TOBACCO_TYPE',
       'TOBACCO_COMMENT', 'TOBACCO_PAK_PER_DY', 'CIGARETTES_YN', 'PIPES_YN',
       'CIGARS_YN', 'ALCOHOL_USE', 'ALCOHOL_FREQ', 'ALCOHOL_DRINKS_PER_DAY',
       'ALCOHOL_TYPE', 'ALCOHOL_OZ_PER_WK', 'ALCOHOL_COMMENT',
       'PHYS_ACT_DAYS_PER_WEEK', 'PHYS_ACT_MIN_PER_SESS', 'DESCRIPTION',
       'Delirium', 'ADD_LINE_1', 'NATIONALITY', 'BIRTH_DATE', 'SEX_C',
       'Rest_due_to_violence', 'Use_of_rest', 'agitation', 'parkinson',
       'alzeihmer', 'depression', 'ocd', 'anxiety', 'bipolar', 'abuse',
       'antipsychotics', 'lithium', 'cancer'],
      dtype='object')

In [ ]:
cols=['325', '2401', '2405', '8428', '9637',
       '9639', '10608', '112703', '169448', '169449', '169861', '175233',
       '182878', '186252', '192673', '400051', '400562', '400580', '40802017']
for col in cols:
  df[col] = df[col].fillna(0)

In [ ]:
df

,PAT_ID_x_x,PAT_ENC_CSN_ID,BP_SYSTOLIC,BP_DIASTOLIC,TEMPERATURE,PULSE,WEIGHT,HEIGHT,RESPIRATIONS,HOSP_ADMSN_TIME,...,parkinson,alzeihmer,depression,ocd,anxiety,bipolar,abuse,antipsychotics,lithium,cancer
0,Z233490,126216514,41.0,24.0,96.6,94.0,70.000403,1.529994,18.0,9/7/2018,...,0,0,0,0,0,0,0,0,0,0
5,Z240730,126216517,98.0,65.0,97.7,112.0,74.000587,1.640002,19.0,9/10/2018,...,0,0,0,0,0,0,0,0,0,0
25,Z416803,126216539,39.0,17.0,98.6,56.0,71.300534,1.699997,20.0,11/30/2017,...,0,0,0,0,0,0,0,0,0,0
26,Z504926,126216557,123.0,96.0,101.5,73.0,80.000581,1.780007,18.0,8/2/2018,...,0,0,0,0,0,0,0,0,0,0
27,Z307823,126661312,136.0,33.0,98.2,56.0,68.000310,1.699997,16.0,10/4/2018,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1922,Z156532,135918356,151.0,77.0,97.9,83.0,NaN,1.359992,16.0,9/25/2021,...,0,0,0,0,0,0,0,0,0,0
1923,Z438493,135918670,118.0,67.0,98.4,75.0,85.000671,1.759991,16.0,9/26/2021,...,0,0,0,0,0,0,0,0,0,0
1924,Z139891,135919320,137.0,55.0,97.7,80.0,83.800616,1.520012,16.0,9/27/2021,...,0,0,0,0,0,0,0,0,0,0
1925,Z304128,136257771,152.0,76.0,97.9,113.0,56.700283,NaN,18.0,11/14/2021,...,0,0,0,0,0,0,0,0,0,0
1926,Z103356,137358688,145.0,58.0,97.7,72.0,NaN,1.520012,18.0,5/8/2022,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
admission_dates=df['HOSP_ADMSN_TIME'].values
discharge_dates=df['HOSP_DISCHRG_TIME'].values
birth_dates=df['BIRTH_DATE'].values

In [ ]:
admission_dates

array(['9/7/2018', '9/10/2018', '11/30/2017', ..., '9/27/2021',
       '11/14/2021', '5/8/2022'], dtype=object)

In [ ]:
type(admission_dates[0])

str

In [ ]:
from ast import Str
from dateutil import parser

los=[]
for i in range(0,len(admission_dates)):
  if type(admission_dates[i])==str and type(discharge_dates[i])==str:
    date1 = parser.parse(admission_dates[i])
    date2 = parser.parse(discharge_dates[i])
    
    diff = date2 - date1
    if diff.days<0:
      print(admission_dates[i])
      print(date1)
      print(discharge_dates[i])
      print(diff)
    los.append(diff.days)
  else:
    los.append(admission_dates[i])

In [ ]:
df['LOS']=los

In [ ]:
from dateutil import parser
from ast import Str
ages=[]
for i in range(0,len(admission_dates)):
  if type(admission_dates[i])==str:
    date1 = parser.parse(admission_dates[i])
    date2 = parser.parse(birth_dates[i])
    diff = date1 - date2
    age=round(diff.days / 365.25,1)
    ages.append(age)
  else:
    ages.append(admission_dates[i])

In [ ]:
df['Age']=ages

In [ ]:
missing_vals_tracker=[]
for col in list(df):
  missing_vals_tracker.append((df[col].isnull().sum()/df.shape[0])*100)

In [ ]:
df_missing_vals=pd.DataFrame()
df_missing_vals['Feature']=list(df)
df_missing_vals['Percentage']=missing_vals_tracker

In [ ]:
df_missing_vals.to_csv('missing_values_tracker_non_icu_delirium_aubmc.csv')

In [ ]:
cols_to_drop=['BIRTH_DATE','HOSP_ADMSN_TIME', 'HOSP_DISCHRG_TIME','AGE']
df.drop(cols_to_drop,axis=1,inplace=True)

In [ ]:
for col in list(df):
  if (df[col].isnull().sum()/df.shape[0])*100>75:
    print(col)
    df.drop(col,axis=1,inplace=True)

MRN_y
Department
Order Name
Frequency
TOBACCO_COMMENT
ALCOHOL_FREQ
ALCOHOL_DRINKS_PER_DAY
ALCOHOL_TYPE
ALCOHOL_OZ_PER_WK
ALCOHOL_COMMENT
PHYS_ACT_DAYS_PER_WEEK
PHYS_ACT_MIN_PER_SESS
DESCRIPTION

In [ ]:
df.columns

Index(['PAT_ID_x_x', 'PAT_ENC_CSN_ID', 'BP_SYSTOLIC', 'BP_DIASTOLIC',
       'TEMPERATURE', 'PULSE', 'WEIGHT', 'HEIGHT', 'RESPIRATIONS', 'BMI',
       'BSA', '325', '2401', '2405', '8428', '9637', '9639', '10608', '112703',
       '169448', '169449', '169861', '175233', '182878', '186252', '192673',
       '400051', '400562', '400580', '40802017', 'MRN_x', 'HOSP_ADMSN_TIME_y',
       'TOBACCO_TYPE', 'TOBACCO_PAK_PER_DY', 'CIGARETTES_YN', 'PIPES_YN',
       'CIGARS_YN', 'ALCOHOL_USE', 'Delirium', 'ADD_LINE_1', 'NATIONALITY',
       'SEX_C', 'Rest_due_to_violence', 'Use_of_rest', 'agitation',
       'parkinson', 'alzeihmer', 'depression', 'ocd', 'anxiety', 'bipolar',
       'abuse', 'antipsychotics', 'lithium', 'cancer', 'LOS', 'Age'],
      dtype='object')

In [ ]:
pip install datawig

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting datawig
  Downloading datawig-0.2.0.tar.gz (61 kB)
     |████████████████████████████████| 61 kB 55 kB/s
Collecting scikit-learn[alldeps]==0.22.1
  Downloading scikit_learn-0.22.1-cp37-cp37m-manylinux1_x86_64.whl (7.0 MB)
     |████████████████████████████████| 7.0 MB 16.4 MB/s
Collecting typing==3.6.6
  Downloading typing-3.6.6-py3-none-any.whl (25 kB)
Collecting pandas==0.25.3
  Downloading pandas-0.25.3-cp37-cp37m-manylinux1_x86_64.whl (10.4 MB)
     |████████████████████████████████| 10.4 MB 43.4 MB/s
Collecting mxnet==1.4.0
  Downloading mxnet-1.4.0-py2.py3-none-manylinux1_x86_64.whl (29.6 MB)
     |████████████████████████████████| 29.6 MB 1.2 MB/s
Collecting graphviz<0.9.0,>=0.8.1
  Downloading graphviz-0.8.4-py2.py3-none-any.whl (16 kB)
Requirement already satisfied: requests>=2.20.0 in /usr/local/lib/python3.7/dist-packages (from mxnet==1.4.0->datawig) (2.23.0)
Collecting numpy<1.15.0,>=1.8.2
  Downloading numpy-1.14.6-cp37-cp37m-manylinux1_x86_64.whl (13.8 MB)
     |████████████████████████████████| 13.8 MB 49.6 MB/s
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.7/dist-packages (from pandas==0.25.3->datawig) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas==0.25.3->datawig) (2022.6)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn[alldeps]==0.22.1->datawig) (1.7.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn[alldeps]==0.22.1->datawig) (1.2.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.6.1->pandas==0.25.3->datawig) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20.0->mxnet==1.4.0->datawig) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20.0->mxnet==1.4.0->datawig) (2022.9.24)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20.0->mxnet==1.4.0->datawig) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20.0->mxnet==1.4.0->datawig) (1.24.3)
Collecting scipy>=0.17.0
  Downloading scipy-1.7.2-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (38.2 MB)
     |████████████████████████████████| 38.2 MB 1.2 MB/s
  Downloading scipy-1.7.1-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (28.5 MB)
     |████████████████████████████████| 28.5 MB 1.2 MB/s
  Downloading scipy-1.7.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (28.5 MB)
     |████████████████████████████████| 28.5 MB 1.2 MB/s
  Downloading scipy-1.6.3-cp37-cp37m-manylinux1_x86_64.whl (27.4 MB)
     |████████████████████████████████| 27.4 MB 1.2 MB/s
  Downloading scipy-1.6.2-cp37-cp37m-manylinux1_x86_64.whl (27.4 MB)
     |████████████████████████████████| 27.4 MB 1.3 MB/s
  Downloading scipy-1.6.1-cp37-cp37m-manylinux1_x86_64.whl (27.4 MB)
     |████████████████████████████████| 27.4 MB 87.8 MB/s
  Downloading scipy-1.6.0-cp37-cp37m-manylinux1_x86_64.whl (27.4 MB)
     |████████████████████████████████| 27.4 MB 1.2 MB/s
  Downloading scipy-1.5.4-cp37-cp37m-manylinux1_x86_64.whl (25.9 MB)
     |████████████████████████████████| 25.9 MB 1.2 MB/s
Building wheels for collected packages: datawig
  Building wheel for datawig (setup.py) ... done
  Created wheel for datawig: filename=datawig-0.2.0-py3-none-any.whl size=72679 sha256=f93cedbf424a2530da0270d1c1ecd997bacebaf667188499bbb2deb95a5510b6
  Stored in directory: /root/.cache/pip/wheels/23/44/aa/12cf6e868f0d71e3c4e57796330094461ade4cb3f1a3acd6c4
Successfully built datawig
Installing collected packages: numpy, scipy, scikit-learn, graphviz, typing, pandas, mxnet, datawig
  Attempting uninstall: numpy
    Found existing installation: numpy 1.21.6
    Uninstalling numpy-1.21.6:
      Successfully uninstalled numpy-1.21.6
  Attempting uninstall: scipy
    Found existing installation: scipy 1.7.3
    Uninstalling scipy-1.7.3:
      Successfully uninstalled scipy-1.7.3
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.0.2
    Uninstalling scikit-learn-1.0.2:
      Successfully uninstalled scikit-learn-1.0.2
  Attempting uninstall: graphviz
    Found existing installation: graphviz 0.10.1
    Uninstalling graphviz-0.10.1:
      Successfully uninstalled graphviz-0.10.1
  Attempting uninstall: pandas
    Found existing installation: pandas 1.3.5
    Uninstalling pandas-1.3.5:
      Successfully uninstalled pandas-1.3.5
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
yellowbrick 1.5 requires numpy>=1.16.0, but you have numpy 1.14.6 which is incompatible.
yellowbrick 1.5 requires scikit-learn>=1.0.0, but you have scikit-learn 0.22.1 which is incompatible.
xarray 0.20.2 requires numpy>=1.18, but you have numpy 1.14.6 which is incompatible.
xarray 0.20.2 requires pandas>=1.1, but you have pandas 0.25.3 which is incompatible.
xarray-einstats 0.2.2 requires numpy>=1.21, but you have numpy 1.14.6 which is incompatible.
tifffile 2021.11.2 requires numpy>=1.15.1, but you have numpy 1.14.6 which is incompatible.
thinc 8.1.5 requires numpy>=1.15.0, but you have numpy 1.14.6 which is incompatible.
tensorflow 2.9.2 requires numpy>=1.20, but you have numpy 1.14.6 which is incompatible.
tables 3.7.0 requires numpy>=1.19.0, but you have numpy 1.14.6 which is incompatible.
statsmodels 0.12.2 requires numpy>=1.15, but you have numpy 1.14.6 which is incompatible.
spacy 3.4.2 requires numpy>=1.15.0, but you have numpy 1.14.6 which is incompatible.
seaborn 0.11.2 requires numpy>=1.15, but you have numpy 1.14.6 which is incompatible.
scikit-image 0.18.3 requires numpy>=1.16.5, but you have numpy 1.14.6 which is incompatible.
resampy 0.4.2 requires numpy>=1.17, but you have numpy 1.14.6 which is incompatible.
pywavelets 1.3.0 requires numpy>=1.17.3, but you have numpy 1.14.6 which is incompatible.
pymc 4.1.4 requires numpy>=1.15.0, but you have numpy 1.14.6 which is incompatible.
pyerfa 2.0.0.1 requires numpy>=1.17, but you have numpy 1.14.6 which is incompatible.
pyarrow 6.0.1 requires numpy>=1.16.6, but you have numpy 1.14.6 which is incompatible.
prophet 1.1.1 requires numpy>=1.15.4, but you have numpy 1.14.6 which is incompatible.
prophet 1.1.1 requires pandas>=1.0.4, but you have pandas 0.25.3 which is incompatible.
plotnine 0.8.0 requires numpy>=1.19.0, but you have numpy 1.14.6 which is incompatible.
plotnine 0.8.0 requires pandas>=1.1.0, but you have pandas 0.25.3 which is incompatible.
pandas-gbq 0.17.9 requires numpy>=1.16.6, but you have numpy 1.14.6 which is incompatible.
numba 0.56.4 requires numpy<1.24,>=1.18, but you have numpy 1.14.6 which is incompatible.
mizani 0.7.3 requires pandas>=1.1.0, but you have pandas 0.25.3 which is incompatible.
librosa 0.8.1 requires numpy>=1.15.0, but you have numpy 1.14.6 which is incompatible.
kapre 0.3.7 requires numpy>=1.18.5, but you have numpy 1.14.6 which is incompatible.
jaxlib 0.3.22+cuda11.cudnn805 requires numpy>=1.20, but you have numpy 1.14.6 which is incompatible.
jax 0.3.23 requires numpy>=1.20, but you have numpy 1.14.6 which is incompatible.
imgaug 0.4.0 requires numpy>=1.15, but you have numpy 1.14.6 which is incompatible.
imbalanced-learn 0.8.1 requires scikit-learn>=0.24, but you have scikit-learn 0.22.1 which is incompatible.
httpstan 4.6.1 requires numpy<2.0,>=1.16, but you have numpy 1.14.6 which is incompatible.
gym 0.25.2 requires numpy>=1.18.0, but you have numpy 1.14.6 which is incompatible.
google-colab 1.0.0 requires pandas>=1.1.0, but you have pandas 0.25.3 which is incompatible.
db-dtypes 1.0.4 requires numpy<2.0dev,>=1.16.6, but you have numpy 1.14.6 which is incompatible.
cvxpy 1.2.2 requires numpy>=1.15, but you have numpy 1.14.6 which is incompatible.
cmdstanpy 1.0.8 requires numpy>=1.21, but you have numpy 1.14.6 which is incompatible.
blis 0.7.9 requires numpy>=1.15.0, but you have numpy 1.14.6 which is incompatible.
astropy 4.3.1 requires numpy>=1.17, but you have numpy 1.14.6 which is incompatible.
aesara 2.7.9 requires numpy>=1.17.0, but you have numpy 1.14.6 which is incompatible.
aeppl 0.0.33 requires numpy>=1.18.1, but you have numpy 1.14.6 which is incompatible.
Successfully installed datawig-0.2.0 graphviz-0.8.4 mxnet-1.4.0 numpy-1.14.6 pandas-0.25.3 scikit-learn-0.22.1 scipy-1.5.4 typing-3.6.6

In [ ]:
df.to_csv('aubmc_engineered_dataset.csv')

In [ ]:
import pandas as pd
import datawig

In [ ]:
df=pd.read_csv('/content/aubmc_engineered_dataset_most_updated.csv')
df2=df.drop('Delirium',axis=1)

In [ ]:
from sklearn.model_selection import train_test_split
train,test=train_test_split(df,stratify=df['Delirium'],shuffle=True,random_state=11,test_size=0.2)

In [ ]:
def mergeDFs(df,df_imputed,imputed_col):
  l=imputed_col+'_imputed_proba'
  if l not in list(df_imputed):
    df_imputed2=df_imputed.drop(imputed_col,axis=1)
  else:
    df_imputed2=df_imputed.drop([imputed_col,l],axis=1)
  df=df[df[imputed_col].isnull()==False]
  df_imputed2=df_imputed2.rename(columns = {imputed_col+'_imputed':imputed_col})
  return pd.concat([df,df_imputed2],sort=False)

def impute(df_train,df_test):
    cols=list(df_train)
    for col in cols:
        print(col)
        missing = df_train[df_train[col].isnull()]
        missing_test=df_test[df_test[col].isnull()]
        if missing.shape[0]>0 or missing_test.shape[0]>0:
            in_cols=cols
            in_cols.remove(col)
            imputer = datawig.SimpleImputer(
            input_columns=in_cols,
            output_column=col
            )
            imputer.fit(train_df = df_train)
            if len(missing)>0:
              imputed = imputer.predict(missing)
              df_train=mergeDFs(df_train,imputed,col)
            if len(missing_test)>0:
              imputed_test = imputer.predict(missing_test)
              df_test=mergeDFs(df_test,imputed_test,col)
            
    for col in cols:
        mvals=df_train[col].isnull().sum()
        mvals_test=df_test[col].isnull().sum()
        if mvals>0 or mvals_test>0:
            df_train, df_test=impute(df_train,df_test)
    return df_train, df_test

In [ ]:
df

,PAT_ID_x_x,PAT_ENC_CSN_ID,BP_SYSTOLIC,BP_DIASTOLIC,TEMPERATURE,PULSE,WEIGHT,HEIGHT,RESPIRATIONS,BMI,...,depression,ocd,anxiety,bipolar,abuse,antipsychotics,lithium,cancer,LOS,Age
0,Z233490,126216514,41.0,24.0,96.6,94.0,70.000403,1.529994,18.0,29.90,...,0,0,0,0,0,0,0,0,73.0,88.2
1,Z240730,126216517,98.0,65.0,97.7,112.0,74.000587,1.640002,19.0,27.51,...,0,0,0,0,0,0,0,0,96.0,88.2
2,Z416803,126216539,39.0,17.0,98.6,56.0,71.300534,1.699997,20.0,24.67,...,0,0,0,0,0,0,0,0,953.0,50.0
3,Z504926,126216557,123.0,96.0,101.5,73.0,80.000581,1.780007,18.0,25.25,...,0,0,0,0,0,0,0,0,123.0,57.3
4,Z307823,126661312,136.0,33.0,98.2,56.0,68.000310,1.699997,16.0,23.53,...,0,0,0,0,0,0,0,0,64.0,83.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1670,Z156532,135918356,151.0,77.0,97.9,83.0,NaN,1.359992,16.0,16.22,...,0,0,0,0,0,0,0,0,6.0,76.5
1671,Z438493,135918670,118.0,67.0,98.4,75.0,85.000671,1.759991,16.0,27.44,...,0,0,0,0,0,0,0,0,1.0,74.0
1672,Z139891,135919320,137.0,55.0,97.7,80.0,83.800616,1.520012,16.0,36.27,...,0,0,0,0,0,0,0,0,17.0,70.4
1673,Z304128,136257771,152.0,76.0,97.9,113.0,56.700283,NaN,18.0,22.15,...,0,0,0,0,0,0,0,0,5.0,88.7
1674,Z103356,137358688,145.0,58.0,97.7,72.0,NaN,1.520012,18.0,27.27,...,0,0,0,0,0,0,0,0,4.0,88.0

In [ ]:
train_im, test_im=impute(train,test)

PAT_ID_x_x
PAT_ENC_CSN_ID
BP_SYSTOLIC
TEMPERATURE
WEIGHT
RESPIRATIONS
BSA
2401
2405
8428
9637
9639
10608
112703
169448
169449
169861
175233
182878
186252
192673
400051
400562
400580
40802017
MRN_x
HOSP_ADMSN_TIME_y

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

TOBACCO_PAK_PER_DY
PIPES_YN

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/datawig/calibration.py:92: RuntimeWarning: divide by zero encountered in log
  return np.log(probas)

ALCOHOL_USE

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/datawig/calibration.py:92: RuntimeWarning: divide by zero encountered in log
  return np.log(probas)

ADD_LINE_1
NATIONALITY
SEX_C
Rest_due_to_violence
Use_of_rest
agitation
parkinson
alzeihmer
depression
ocd
anxiety
bipolar
abuse
antipsychotics
lithium
cancer
LOS

/usr/local/lib/python3.7/dist-packages/datawig/calibration.py:92: RuntimeWarning: invalid value encountered in log
  return np.log(probas)
/usr/local/lib/python3.7/dist-packages/datawig/calibration.py:59: RuntimeWarning: invalid value encountered in greater_equal
  bin_mask = (top_probas >= bin_lower) & (top_probas < bin_upper)
/usr/local/lib/python3.7/dist-packages/datawig/calibration.py:59: RuntimeWarning: invalid value encountered in less
  bin_mask = (top_probas >= bin_lower) & (top_probas < bin_upper)

PAT_ID_x_x
PAT_ENC_CSN_ID
BP_SYSTOLIC
BP_DIASTOLIC

/usr/local/lib/python3.7/dist-packages/datawig/calibration.py:92: RuntimeWarning: invalid value encountered in log
  return np.log(probas)
/usr/local/lib/python3.7/dist-packages/datawig/calibration.py:59: RuntimeWarning: invalid value encountered in greater_equal
  bin_mask = (top_probas >= bin_lower) & (top_probas < bin_upper)
/usr/local/lib/python3.7/dist-packages/datawig/calibration.py:59: RuntimeWarning: invalid value encountered in less
  bin_mask = (top_probas >= bin_lower) & (top_probas < bin_upper)

PULSE
HEIGHT
BMI
325
2401
2405
8428
9637
9639
10608
112703
169448
169449
169861
175233
182878
186252
192673
400051
400562
400580
40802017
MRN_x
HOSP_ADMSN_TIME_y
TOBACCO_TYPE

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/datawig/calibration.py:92: RuntimeWarning: divide by zero encountered in log
  return np.log(probas)

CIGARETTES_YN

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

CIGARS_YN

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/datawig/calibration.py:92: RuntimeWarning: divide by zero encountered in log
  return np.log(probas)

Delirium
ADD_LINE_1
NATIONALITY
SEX_C
Rest_due_to_violence
Use_of_rest
agitation
parkinson
alzeihmer
depression
ocd
anxiety
bipolar
abuse
antipsychotics
lithium
cancer
LOS
Age

In [ ]:
train_im.to_csv('delirium_non_icu_aubmc_train_.csv')
test_im.to_csv('delirium_non_icu_aubmc_test_.csv')

In [ ]:
cols_to_drop=['MRN_x', 'HOSP_ADMSN_TIME_y']
train_im.drop(cols_to_drop,axis=1,inplace=True)

In [ ]:
test_im[test_im['Delirium']=='confirmed']

,PAT_ID_x_x,PAT_ENC_CSN_ID,BP_SYSTOLIC,BP_DIASTOLIC,TEMPERATURE,PULSE,WEIGHT,HEIGHT,RESPIRATIONS,BMI,...,depression,ocd,anxiety,bipolar,abuse,antipsychotics,lithium,cancer,LOS,Age
307,Z119501,129700544,140.0,61.0,98.4,76.0,75.000492,1.529994,18.00000,32.04000,...,0,0,0,0,0,0,0,0,12.000000,78.900000
510,Z304128,130478656,118.0,72.0,98.2,90.0,65.000313,1.599997,18.00000,25.39000,...,0,0,0,0,0,0,0,0,8.000000,86.400000
1351,Z444585,134034995,105.0,67.0,98.1,96.0,77.000585,1.650009,18.00000,28.28000,...,0,0,0,0,0,0,0,0,4.000000,86.000000
1352,Z444585,134034995,105.0,67.0,98.1,96.0,77.000585,1.650009,18.00000,28.28000,...,0,0,0,0,0,0,0,0,4.000000,86.000000
1334,Z295808,133930151,146.0,63.0,97.7,63.0,95.000567,1.720012,18.00000,32.11000,...,0,0,0,0,0,0,0,0,5.000000,67.100000
55,Z442485,128800988,122.0,65.0,98.6,80.0,54.318001,1.829994,18.00000,16.72000,...,0,0,0,0,0,0,0,0,15.000000,75.400000
710,Z99246,131335087,118.0,72.0,97.9,75.0,80.000581,1.720012,18.00000,27.04000,...,0,0,0,0,0,0,0,0,6.000000,80.400000
945,Z116180,132175279,63.0,34.0,101.5,42.0,103.000653,1.799996,16.00000,31.79000,...,0,0,0,0,0,0,0,0,18.000000,77.000000
196,Z442995,129337598,142.0,92.0,99.7,132.0,85.000671,1.799996,16.00000,26.23000,...,0,0,0,0,0,0,0,0,17.000000,86.600000
305,Z142334,129700344,103.0,50.0,98.2,80.0,65.000313,1.674409,16.00000,22.76000,...,0,0,0,0,0,0,0,0,13.000000,77.200000
481,Z99210,130312596,128.0,56.0,97.9,81.0,86.600461,1.680007,16.00000,30.68000,...,0,0,0,0,0,0,0,0,22.000000,77.100000
497,Z377596,130406560,118.0,73.0,97.5,86.0,59.000319,1.610004,18.00000,22.76000,...,0,0,0,0,0,0,0,0,4.000000,79.000000
828,Z446114,131737752,107.0,79.0,98.1,100.0,43.900258,1.580007,18.00000,17.59000,...,0,0,0,0,0,0,0,0,33.000000,91.700000
195,Z118389,129320221,153.0,59.0,99.0,117.0,73.000400,1.720000,12.00000,24.68000,...,0,0,0,0,0,0,0,0,6.000000,89.900000
1194,Z237799,133166420,160.0,85.0,98.4,74.0,70.000403,1.699997,18.00000,24.22000,...,0,0,0,0,0,0,0,0,5.000000,89.200000
754,Z251506,131483101,136.0,67.0,97.3,68.0,55.000418,1.640002,17.00000,20.45000,...,0,0,0,0,0,0,0,0,14.000000,77.000000
1264,Z396577,133572223,120.0,56.0,97.7,66.0,130.700871,1.799996,18.00000,40.34000,...,0,0,0,0,0,0,0,0,80.000000,87.800000
578,Z236557,130764190,106.0,61.0,97.5,51.0,78.800526,1.699997,18.00000,27.27000,...,0,0,0,0,0,0,0,0,17.000000,68.100000
1442,Z103869,134420365,110.0,65.0,98.4,57.0,50.000328,1.699997,16.00000,17.30000,...,0,0,0,0,0,0,0,0,42.000000,79.500000
1275,Z298521,133642280,35.0,24.0,97.2,64.0,95.000567,1.450010,10.00000,45.18000,...,0,0,0,0,0,0,0,0,20.000000,87.300000
1365,Z406460,134095525,140.0,75.0,98.1,98.0,91.000665,1.520012,20.00000,39.39000,...,0,0,0,0,0,0,0,0,12.000000,80.000000
18,Z156231,128687621,152.0,81.0,98.1,61.0,75.000492,1.640002,17.00000,27.89000,...,0,0,0,0,0,0,0,0,25.000000,87.400000
1449,Z451351,134458127,132.0,73.0,98.2,90.0,76.958445,1.642348,17.74695,27.54197,...,0,0,0,0,0,0,0,0,-0.307317,71.678908

In [ ]:
from google.colab import files
files.download('delirium_non_icu_aubmc_train_.csv')
files.download('delirium_non_icu_aubmc_test_.csv')

In [ ]:
test_im[test_im['Delirium']=='confirmed']

,PAT_ID_x_x,PAT_ENC_CSN_ID,BP_SYSTOLIC,BP_DIASTOLIC,TEMPERATURE,PULSE,WEIGHT,HEIGHT,RESPIRATIONS,BMI,...,depression,ocd,anxiety,bipolar,abuse,antipsychotics,lithium,cancer,LOS,Age
1351,Z444585,134034995,105.0,67.0,98.1,96.0,77.000585,1.650009,18.0,28.28,...,0,0,0,0,0,0,0,0,4.0,86.0
1334,Z295808,133930151,146.0,63.0,97.7,63.0,95.000567,1.720012,18.0,32.11,...,0,0,0,0,0,0,0,0,5.0,67.1
1352,Z444585,134034995,105.0,67.0,98.1,96.0,77.000585,1.650009,18.0,28.28,...,0,0,0,0,0,0,0,0,4.0,86.0
196,Z442995,129337598,142.0,92.0,99.7,132.0,85.000671,1.799996,16.0,26.23,...,0,0,0,0,0,0,0,0,17.0,86.6
945,Z116180,132175279,63.0,34.0,101.5,42.0,103.000653,1.799996,16.0,31.79,...,0,0,0,0,0,0,0,0,18.0,77.0
305,Z142334,129700344,103.0,50.0,98.2,80.0,65.000313,1.694937,16.0,22.76,...,0,0,0,0,0,0,0,0,13.0,77.2
1442,Z103869,134420365,110.0,65.0,98.4,57.0,50.000328,1.699997,16.0,17.30,...,0,0,0,0,0,0,0,0,42.0,79.5
1275,Z298521,133642280,35.0,24.0,97.2,64.0,95.000567,1.450010,10.0,45.18,...,0,0,0,0,0,0,0,0,20.0,87.3
497,Z377596,130406560,118.0,73.0,97.5,86.0,59.000319,1.610004,18.0,22.76,...,0,0,0,0,0,0,0,0,4.0,79.0
1194,Z237799,133166420,160.0,85.0,98.4,74.0,70.000403,1.699997,18.0,24.22,...,0,0,0,0,0,0,0,0,5.0,89.2
828,Z446114,131737752,107.0,79.0,98.1,100.0,43.900258,1.580007,18.0,17.59,...,0,0,0,0,0,0,0,0,33.0,91.7

In [ ]:
train['Age']

In [ ]:
import numpy as np
np.average(train_im['Age'])

67.0939552238806

In [ ]:
q3, q2=np.percentile(train_im['Age'], [75,25])
q3-q2

22.799999999999997

In [ ]:
import numpy as np
np.average(test_im['Age'])

67.35008629191097

In [ ]:
q3, q2=np.percentile(test_im['Age'], [75,25])
q3-q2

24.249999999999993

In [ ]:
train_im.columns

Index(['BP_SYSTOLIC', 'BP_DIASTOLIC', 'TEMPERATURE', 'PULSE', 'WEIGHT',
       'HEIGHT', 'RESPIRATIONS', 'BMI', 'BSA', '325', '2401', '2405', '8428',
       '9637', '9639', '10608', '112703', '169448', '169449', '169861',
       '175233', '182878', '186252', '192673', '400051', '400562', '400580',
       '40802017', 'TOBACCO_TYPE', 'TOBACCO_PAK_PER_DY', 'CIGARETTES_YN',
       'PIPES_YN', 'CIGARS_YN', 'ALCOHOL_USE', 'Delirium', 'ADD_LINE_1',
       'NATIONALITY', 'SEX_C', 'Rest_due_to_violence', 'Use_of_rest',
       'agitation', 'parkinson', 'alzeihmer', 'depression', 'ocd', 'anxiety',
       'bipolar', 'abuse', 'antipsychotics', 'lithium', 'cancer', 'LOS',
       'Age'],
      dtype='object')

In [ ]:
print(len(train_im[train_im['SEX_C']==2])/len(train_im)) #male
print(len(train_im[train_im['SEX_C']==1])/len(train_im))

0.4626865671641791
0.5373134328358209

In [ ]:
print(len(test_im[test_im['SEX_C']==2])/len(test_im)) #male
print(len(test_im[test_im['SEX_C']==1])/len(test_im))

0.4746268656716418
0.5253731343283582

In [ ]:
print(100*(len(test_im[test_im['Delirium']=='possible'])/len(test_im)))
print(100*(len(test_im[test_im['Delirium']=='confirmed'])/len(test_im)))
print(100*(len(test_im[test_im['Delirium']=='no'])/len(test_im)))

6.547619047619048
7.142857142857142
86.30952380952381

In [ ]:
print(100*(len(train_im[train_im['Delirium']=='possible'])/len(train_im)))
print(100*(len(train_im[train_im['Delirium']=='confirmed'])/len(train_im)))
print(100*(len(train_im[train_im['Delirium']=='no'])/len(train_im)))

6.896551724137931
6.896551724137931
86.20689655172413

In [ ]:
df2=df.drop('Delirium',axis=1)

In [ ]:
df=train
df_test=test

In [ ]:
df.to_csv('non_icu_delirium_aubmc.csv')

In [ ]:
df.to_csv('delirium_aubmc_feat_eng_im.csv')

In [ ]:
cols=['PAT_ID_x_x',
'CONTACT_DATE_x',
'PAT_MRN_ID_x',
'Diagnosis_Name',
'Diagnosis_ICD10',
'Unnamed: 0',
'NAME_x',
 'DEATH_DATE',
 'Case or Control ? (Considered case if that patient had at least 1 encounter that is confirmed/possible delirium)'
 ]

df.drop(cols,axis=1,inplace=True)

In [ ]:
df.to_csv('delirium_aubmc_labelled_records.csv')

In [ ]:
test_im.drop(['MRN_x', 'HOSP_ADMSN_TIME_y'],axis=1,inplace=True)

In [ ]:
len(np.unique(train_im['PAT_ID_x_x']))

1090

In [ ]:
len(np.unique(test_im['PAT_ID_x_x']))

308

In [ ]:
test_im.to_csv('aubmc_test_im.csv')
train_im.to_csv('aubmc_train_im.csv')